\---
layout: default
description: "Get rewarded for sharing great recommendations with your friends and family."
\---

.home
  %header.home-hdr
    .container
      .home-hdr-left
        .home-hdr-logo
          %a.home-hdr-logo-link{href: "/", title: "Split"}
            %img{src: "/assets/media/split-logo@2x.png", alt: "Split", width: 161, height: 51}
        %p.home-hdr-description
          Get rewarded for sharing great recommendations with your friends and family.
        .home-hdr-download
          %a.home-hdr-logo-link{href: "http://l.split.co/download", title: "Download Split"}
            %img{src: "/assets/media/appstore-download@2x.png", alt: "Download", width: 217, height: 63}
      .home-hdr-right
        .home-hdr-screen
          %img{src: "/assets/media/hdr-screen@2x.png"}


