%footer.footer
  .container

    .footer-links
      %a{href: "/terms", title: "Terms of Use"} Terms of Use
      &nbsp;
      %a{href: "/privacy", title: "Privacy Policy"} Privacy Policy
      &nbsp;
      %a{href: "mailto:help@split.co", title: "Email Support"} Support
    .footer-info
      © 2015 Split Technologies, Inc.
